<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div layout:fragment="content"></div>

</body>
</html>